.edittxt{
margin-left:-70px;
font-weight:800;
color: #000;
font-family: 'Montserrat', sans-serif; 

}
.userinfo{
    background-color:rgba(218, 218, 218, 0.267);
    padding:5px;
}
.userinfo:hover{
    background-color: rgb(251,195,24);
}
.card{
    background-color:rgb(230, 230, 230);
    border-radius:10px;
    border:2px solid rgba(0, 0, 0, 0.89);
}

.logo{
    width:200px;
    margin-left:10px;
}
/*Edit User Css*/

.edituser img{
border-radius: 10px;
width:80px;

}
.edituser h6{
    margin-top:10px;
}
.edituser p{
    margin-top:-10px;
    color:rgb(126, 125, 125);
}
.fa-ellipsis-v{
    position: absolute;
    right:50px; 
    top:200px;
}

/*End Edit User CSS*/

.bgcolor2{
    background-color: rgb(255, 255, 255);
    padding:10px;
}



/*Table Css*/

.tr-spacer{
    height:12px;
   
}
.tbcolor{
    background-color: #fff;
    border:1px solid rgb(219, 219, 219);
    box-shadow: 2px 2px 2px 2px #eee;
    font-weight:300px;
    font-family: 'Montserrat', sans-serif;
}

.tbcolor span{
    color:#1DBF73;
    font-weight:500;

}
/*End of Table Css*/


/*Modal Form Css*/

.formbtn{
    background-color: rgb(251,195,24);
}
.modal-body h3{
    font-weight:800!important;

}
/*Underline Css*/

hr{
    border:0.5px solid rgba(177, 177, 177, 0.335);
}

.cardbdy h3{
    font-weight: bold;
    color:#4D4D4D;
    font-style:normal;
    font-weight:800;
    font-family: 'Montserrat', sans-serif;
    
}

/*Edit icon and Deposit Button css*/

.editicon{
    position:absolute; 
    top:130px;
    right:30px;
    color:#000;
}
.editicon:hover{
    color:#000;
    text-decoration: none;
}
.depositbtn{
    position: absolute;
    right:30px;
    bottom:320px;
    
}


/*Topbar Price Css*/

.fa-bitcoin{
    color: rgb(251,195,24);
    font-size:12px;
}

/*BacK Arrow Css*/

.arrowlink{
    color:#000;
    font-size:30px;
    position: absolute;
    top:16px;
    left:70px;
}


/*-------------Mobile Version----------------*/

@media (min-width: 320px) and (max-width: 480px) {
    .imgbox{
        margin:0 80px;
    }
 
    .editicon{
        position: relative; 
        top:10px;
        right:30px;
        color:#000;
    }
    .editicon{
        position: absolute; 
        top:130px;
        right:30px;
        color:#000;
    }
    .depositbtn{
        position: relative;
        left:100px;
        bottom:20px;
        
    }
    .topbar{
        display:none;
    }
    .logo{
        width:140px;
        margin-left:20px;    
    }
    .edittxt{
     margin:0 100px;
     font-size:20px;        
    }
    .box h2{
        font-size:20px;
    }
   
    .arrowlink{
        color:#000;
        font-size:20px;
        position: absolute;
        top:22px;
        left:18px;
    }
    
hr{
    width:200px;
    margin:10px auto;    
    border:0.5px solid rgb(177, 177, 177);
}

.edituser img{
    border-radius: 10px;
    width:80px;
    
    }
    .edituser h6{
        margin-top:10px;
        font-size:12px;
    }
    .edituser p{
        font-size:12px;
        margin-top:-10px;
        color:rgb(126, 125, 125);
    }
    .card{
      margin:5px auto; 
    }
    .cardbdy h3{
        font-weight: bold;
        font-size:20px;
        color:rgba(53, 53, 53, 0.993);
    }
}

@media (min-width: 481px) and (max-width: 767px){
    .edittxt{
        text-align: center;
        margin-top:30px;
    }
    .navbar-text{
        margin:0 190px;
    }
    .topbar{
        display:none;
    }
    .logo{
        width:140px;
        margin-left:20px;    
    }
    .edittxt{
     margin:0 100px;
     font-size:20px;        
    }
    .box h2{
        font-size:20px;
    }   
    .arrowlink{
        color:#000;
        font-size:20px;
        position: absolute;
        top:22px;
        left:18px;
    }
    .edittxt{
        margin-left:70px;
        font-weight:700;        
        }
hr{
    width:200px;
    margin:10px auto;    
    border:0.5px solid rgb(177, 177, 177);
}

.edituser img{
    border-radius: 10px;
    width:80px;
    
    }
    .edituser h6{
        margin-top:10px;
        font-size:12px;
    }
    .edituser p{
        font-size:12px;
        margin-top:-10px;
        color:rgb(126, 125, 125);
    }
    .card{
      margin:5px auto; 
    }
    .cardbdy h3{
        font-weight: bold;
        font-size:20px;
        color:rgba(53, 53, 53, 0.993);
    }
}



@media (max-width: 768px){
    .tbcolor{
        font-size:11px;
    }
    .edittxt{
        text-align: center;
        margin-top:30px;
    }
    .navbar-text{
        margin:0 190px;
    }
    .topbar{
        display:none;
    }
    .logo{
        width:140px;
        margin-left:20px;    
    }
    .edittxt{
     margin:0 100px;
     font-size:20px;        
    }
    .box h2{
        font-size:20px;
    }  
    .head{
        font-size:15px;
    } 
    .arrowlink{
        color:#000;
        font-size:20px;
        position: absolute;
        top:22px;
        left:18px;
    }
    .edittxt{
        margin-left:70px;
        font-weight:700;        
        }


.edituser img{
    border-radius: 10px;
    width:80px;
    
    }
    .edituser h6{
        margin-top:10px;
        font-size:12px;
    }
    .edituser p{
        font-size:12px;
        margin-top:-10px;
        color:rgb(126, 125, 125);
    }
    .card{
      margin:5px auto; 
    }
    .cardbdy h3{
        font-weight: bold;
        font-size:20px;
        color:rgba(53, 53, 53, 0.993);
    }
    .depositbtn{
        margin-bottom:-30px;
    }
    
}

@media (min-width: 320px){
    
    .depositbtn{
        margin-left:-45px;
    }
    .edittxt{
        text-align: center;
        margin-top:30px;
    }
    .navbar-text{
        margin:0 10px;
    }      
}
@media (min-width: 375px){
    .depositbtn{
        margin-left:15px;
    }    
}
@media (min-width: 360px){
    .depositbtn{
        margin-left:-5px;
    }
    .edittxt{
        text-align: center;
        margin-top:30px;
    }
    .navbar-text{
        margin:0 10px;
    }    
}
@media (min-width: 411px){
    .depositbtn{
        margin-left:50px;
    }    
}
@media (min-width: 425px){
.depositbtn{
    margin-left:60px;
}
}

