*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F8F8F9;
}
html{
	scroll-behavior:smooth;
}

.topbar{
    background-color: #000 ;
}
.fa-btc{
    color:rgb(250,196,23);
    font-size:15px;
}
.topbar a{
    color:rgb(180, 180, 180);
}
.topbar a span{
    color:rgb(250,196,23);
}
.price a{
    text-decoration: none;
    font-size:14px;
}
.price a:hover{
    text-decoration: underline rgb(22, 190, 59);
    font-size:14px;
}
.price a span{
    font-size:13px;
    color:rgb(22, 190, 59);
}
.fa-sort-up{
    color:rgb(22, 190, 59) !important;
}

