/*Search Bar Css*/

.serbox{
    width:500px !important;
    margin:0 15px;
    background-color: #F8F8F9 !important;
    margin-bottom:-15px;
    border-radius:50px;
    border:3px solid #FAC417;
    height:49px;
}
.dropicon .fa-ellipsis-v{
    color:#2A2A2A;

}
.text-danger{
    color:#CC0505 !important;
    font-weight: 600 !important;
    font-style: normal !important;
}
.text-success{
    color:#289461 !important;
    font-weight: 500 !important;
    font-style: normal;


}
.text-dark{
    color: #4D4D4D !important;
    font-weight: 500 !important;
    font-style: normal;

}
.btndanger{
    background-color: #CC0505;
    color:#fff;
}

.btnsucces{
    background-color: #1DBF73;
    color:#fff;
}
#droicon1{
    position: absolute; 
    left: 450px; 
    bottom:300px;
}
#droicon2{
    position: absolute; 
    left: 450px;
    bottom:220px;
}
#droicon3{
    position: absolute; 
    left: 450px;
    bottom:140px;
}
#droicon4{
    position: absolute;
    left: 450px;
    bottom:50px;
}
/*Userinfo Css*/

.userinfo{
    background-color:#F8F8F9;
    padding:5px;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 5px;
}
.userinfo:hover{
    background-color:#FAC417;
    color:#000;
    font-weight:300;
    font-style: normal;
    
}
.userinfo img{
    border-radius: 10px;
    width:60px;
}
.userinfo h6{
    margin-top:10px;
    font-weight:500;
    font-style: normal;    
}

.userinfo p{
    margin-top:-10px;
    font-size:14px;
    font-weight:normal;
    color:#9E9E9E;
}
.card{
    background-color:#EFEFEF;
    box-shadow: 0px 0px 5px #0000001A;
border: 1px solid #707070;
border-radius: 6px;
}
.cardbdy h3{
    font-weight: bold;
    color:#4D4D4D;
    font-style:normal;
    font-weight:800;
    font-family: 'Montserrat', sans-serif;
}
.bgcolor2{
    background-color: rgb(255, 255, 255);
    padding:10px;
    border-radius: 5px;
}

/*Table Css*/

.tr-spacer{
    height:10px;
   
}
.tbcolor{
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 5px #00000029;
    border-radius: 5px;
}
.tbcolor span{
    color:#1DBF73;
    font-weight:500;

}
.tbcolor th{
    color: #000000;
}
.tbcolor td{
    color:#888888;
}
thead th{
    color:#4D4D4D;
    font-weight:600;
    font-style:normal;
}
 hr{
    
    border:0.5px solid rgba(177, 177, 177, 0.288);
}

/*Modal Form Css*/


.formbtn{
    background-color:rgb(250,196,23) !important;
    font-size:15px;
    color:#000;
    border:none;
    width:40%;
    height: 40px;  
}

/*TopBar Price Section Css*/
.fa-bitcoin{
     color: rgb(251,195,24);
     font-size:12px;
}

.userimg{
    position: absolute; 
    left:170px;
    top:5px; 
    width:60px;
    border-radius:50px;
}
.logo{
    width:200px;
    margin-left:-15px;
}

.arrowlink{
    color:#000;
    font-size:30px;
    position: absolute;
    top:16px;
    left:70px;
    font-weight: 900;
}
.edituser img{

    width:80px;
    height:80px;
}

/*Dropdown Menue Css*/

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    margin-left:-120px;
    border-radius:5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: 800;
    display: block;
  }

  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}

.edittxt{
    font-weight: bold;
    color:#000;
    font-style:normal;
    font-size:38px;
    font-weight:800;
    font-family: 'Montserrat', sans-serif;
}
  
.input-group{
    width:300px;
    margin:0 auto;
}
input,textarea{
    background-color: #EFEFEF !important;
}
.navbar-text{
    color:#282828;
    font-weight:600;
    font-style:normal;
}

.editicon{
    position:absolute; 
    top:130px;
    right:30px;
    color:#000;
}
.editicon:hover{
    color:#000;
    text-decoration: none;
}
.depositbtn{
    position: absolute;
    right:30px;
    bottom:320px;
    color:#000000;
    font-weight: 600;
    font-style:normal;
    
}
.arrowlink{
    color:#000;
    font-size:30px;
    position: absolute;
    top:16px;
    left:70px;
}
.arrowlink:hover{
    color:#000;
    font-size:30px;
    position: absolute;
    top:16px;
    left:70px;
}
#div2{
    display: none;
}
.modal-body h4{
    color:#4D4D4D;
    font-weight: 700;
    font-style:normal; 

}
.modal-body h3{
    color:#4D4D4D;
    font-weight: 700;
    font-style:normal; 
    font-family: 'Montserrat', sans-serif;
}
.modal-title{
    font-size:28px; 
    color:#4D4D4D;
    font-weight:900;
    
 }
 .eintinfo{
    font-size:28px;
    color:#4D4D4D;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    
}
.edituser h6{
    margin-top:10px;
    color:#000000;
}
.edituser p{
    margin-top:-10px;
    color:#9E9E9E;
}
.fa-check{
    color:#fff;
    background-color: #1DBF73;
    padding:5px;
    font-size:12px;
    border-radius:20px;
}
.text-primary{
    color:#0096D8;
    font-weight:600;
    font-style:normal;
}





/*-----------------------Responsive Code-----------------------*/

@media(min-width:320px) and (max-width:480px)
{
    .topbar{
        display:none;
    }
    
#droicon1{
    margin-left: -222px; 
}   

#droicon2{
    margin-left: -222px;
}    

#droicon3{
    margin-left: -222px;
}
#droicon4{
    margin-left: -222px;
}
.depositbtn{
    margin-bottom:130px;
    color:#000000;
    font-weight: 600;
    font-style:normal;
    
}
.media-body h6{
    font-size:10px;
}
.media-body p
{
    font-size:10px;
}
.userinfo p{
    font-size:10px;
}
.fa-check{
    color:#fff;
    background-color: #1DBF73;
    padding:3px;
    font-size:8px;
    border-radius:20px;
}
.logo{
    width:100px;
    margin-left:2px;
}
.card{
    margin:5px auto;
}
.edittxt{
    text-align: center;
    font-size:20px;
    margin-top:20px;
}
.navbar-text{
    margin-left:50px;
}
.editicon{
   margin-top:-15px;
}
.userinfo img{
    border-radius: 10px;
    
}
.cardbdy h3{
    font-size:20px;
}
.arrowlink{
    font-size:20px;
 margin-left:-50px;
}
.input-group{
    width:200px;
}
}

@media(min-width:360px){
    #droicon1{
        margin-right: -200px; 
    }   
    
    #droicon2{
        margin-right: -200px;
    }    
    
    #droicon3{
        margin-right: -200px;
    }
    #droicon4{
        margin-right: -200px;
    }
    .media-body h6{
        font-size:15px;
    }
    .media-body p
    {
        font-size:15px;
    }
    .depositbtn{
        margin-bottom:-20px;
        color:#000000;
        font-weight: 600;
        font-style:normal;    
    }
    .editicon{
        margin-top:-10px;
     }
     .cardbdy h3{
         font-size:20px;
     }
     .input-group{
        width:200px;
    }
}


@media(min-width:481px) and (max-width:767px){
    .topbar{
        display: none;
    }
    .input-group{
        width:200px;
    }
    #droicon1{
        margin-left: -80px; 
    }   
    
    #droicon2{
        margin-left: -80px;
    }    
    
    #droicon3{
        margin-left: -80px;
    }
    #droicon4{
        margin-left: -80px;
    }
    .logo{
        margin-left:10px;
    }
    .card{
        margin-top:10px;
    }
    .edittxt{
        text-align: center;
        margin-top:10px;
        font-size:23px;
    }
    .navbar-text{
        margin-left:110px;
    }
    .cardbdy h3{
        font-size:30px;
    }
    .arrowlink{
        font-size:30px;
       margin-left:-30px;
    }
}

@media(min-width:768px) and (max-width:1024px)
{
    .logo{
        margin-left:20px;
    }
    .edittxt{
        text-align: center;
        font-size:33px;
    }
    .navbar-text{
        margin-left:230px;
    }
    #droicon1{
        margin-left: -190px; 
    }   
    
    #droicon2{
        margin-left: -190px;
    }    
    
    #droicon3{
        margin-left: -190px;
    }
    #droicon4{
        margin-left: -190px;
    }
    .depositbtn{
        margin-bottom:-60px;
        color:#000000;
        font-weight: 600;
        font-style:normal;    
    }
    .tr-spacer{
        height:5px;
    }
    .arrowlink{
        margin-left:-30px;
    }
    
}
